@import "reset.css";

body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: #1f373d;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
}
header .menu{
    min-height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu .menu-logo a{
    font-size: 25px;
}
header .menu .menu-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}
header .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menu ul a{
    margin-right: 32px;
}
header .menu .menu-link ul a:last-child{
    margin-right: 100px;
}
header .menu .link__contact a:first-child{
    margin-right: 20px;
}
header .menu .link__contact a:last-child{
    background-color: #ffcc01;
    padding: 14px 25px;
    border-radius: 5px;
}
section.hero{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 631px;
}
section.hero .hero__bg{
    width: 961px;
    height: 631px;
    background-color: #96bece;
    position: absolute;
    right: -55px;
}
section.hero .info{
    display: flex;
    position: absolute;
    background-color: #ffcc01;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1f373d;
    right: 0;
    bottom: 0;
}
section.hero .info i{
    font-size: 25px;
    color: #fff;
    margin-right: 30px;
}
section.hero .info div{
    padding: 26px 33px;
}
section.hero form .title{
    font-size: 62px;
    font-weight: 600;
    color: #1f373d;
    letter-spacing: -1.54px;
    margin-bottom: 48px;
}
section.hero form{
    position: absolute;
    top: 150px;
    left: 0;
}
section.hero form input[type="search"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #919eb1;
    line-height: 15px;
    padding: 27px;
    padding-right: 0;
    width: 338px;
    border: 0;
}
section.hero form input[type="submit"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px;
    width: 115px;
    margin-left: -4px;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc01;
}
section.hero .scroll{
    position: absolute;
    bottom: 42px;
    left: -42px;    
    color: #919eb1;
    font-size: 12px;
    transform: rotate(-90deg);
}
section.hero .scroll span{
    font-weight: 500;
    margin-left: 12px;
}
section.our-company .content{
    display: flex;
    margin-top: 145px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
}
section.our-company .content__text{
    width: 48.64864864864865%;
}
section.our-company .content__text .text_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 70px;
}
section.our-company .content__text .text_description{
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.3em;
    letter-spacing: -0.33px;
    color: #1f373d;
}
section.our-company .content__text .first-child{
    margin-bottom: 40px;
}
section.our-company .content__stats{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 30px;
}
section.our-company .content__stats .stats__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f4;
    
}
section.our-company .content__stats .stats__item .item_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #ffcc01;
}
section.our-company .content__stats .stats__item .item_subtitle{
    font-size: 14px;
    font-weight: 600;
    line-height: 3.57em;
    letter-spacing: -0.35px;
    color: #1f373d;
}
section.appartments{
    background-repeat: no-repeat;
    background-color: #f6f5f4;
    background: cover;
}
section.appartments .title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    padding: 50px 0 65px;
}
section.appartments .content__appart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-bottom: 60px;
} 
section.appartments .content__appart .appart__item {
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
}
section.appartments .content__appart .appart__item .item__img{
    width: 351px;
    height: 381px;
    background-color: #b1d7e8;
}
section.appartments .content__appart .appart__item .item__description{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
section.appartments .content__appart .appart__item .item__description .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 15px;
}
section.appartments .content__appart .appart__item .item__description .address{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: -0.38px;
    color: #1f373d;
    padding-top: 15px;
    padding-left: 20px;
}
section.appartments .content__appart .appart__item .item__description .price{
    font-size: 18px;
    font-weight: 600;
    line-height: 2.777em;
    letter-spacing: -0.38px;
    color: #ffcc01;
}
section.appartments .content__appart .appart__item .item__description
.info__shower i, .info__bed i{
    font-size: 12px;
    color: #0f0f0f;
    line-height: 2.777em;
}
section.appartments .content__appart .appart__item .item__description
.info__shower span, .info__bed span{
    font-size: 13px;
    color: #919eb1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.33px;
    line-height: 2.777em;
}
section.appartments form.search{
    padding-bottom: 85px;
}
section.appartments form.search input[type="search"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #919eb1;
    line-height: 15px;
    padding: 27px;
    padding-right: 0;
    width: 338px;
    border: 0;
}
section.appartments form.search input[type="submit"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px;
    width: 115px;
    margin-left: -4px;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc01;
}
section.appartments form.search button{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px 50px;
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
}
section.how-it-work .content .title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 20px;
}
section.how-it-work .content .content__title{
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 55px;
    width: 33%;
}
section.how-it-work .content .content__title .description{
    font-weight: 400;
    font-size: 13px;
    line-height: 2.3em;
    letter-spacing: -.33px;
    color: #1f373d;
}
section.how-it-work .content__info-box{
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}
section.how-it-work .content__info-box .box__item{
    width: 345px;
    height: 374px;
    background-color: #fff;
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
    overflow: hidden;
    border-radius: 5px;
}
section.how-it-work .content__info-box .box__item:hover{
    background-color: #ffcc01;
    color: #fff;
}
section.how-it-work .content__info-box .box__item:hover .item_number{
    color: #fff;
}
section.how-it-work .content__info-box .box__item .item_number{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 132px;
    color: #000;
    position: relative;
    top: -50px;
    left: -30px;
}
section.how-it-work .content__info-box .box__item .item_title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.45px;
    margin-left: 40px;
    margin-bottom: 40px;
}
section.how-it-work .content__info-box .box__item .item_title span{
    margin-right: 15px;
}
section.how-it-work .content__info-box .box__item .item_description{
    font-family: Montserrat;
    margin-left: 73px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.33px;
    line-height: 2.3em;
    margin-bottom: 15px;
}
section.how-it-work .content__info-box .box__item .item_subdescription{
    display: inline-block;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    line-height: 2.3em;
    letter-spacing: -0.33px;
    margin-left: 73px;
    border-bottom: 3px solid #000;
}
section.how-it-work .content__info-box .box__item:hover .item_subdescription{
    border-bottom: 3px solid #fff;
}
section.services .content .title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 20px;
}
section.services .content .content__title{
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 55px;
    width: 33%;
}
section.services .content .content__title .description{
    font-weight: 400;
    font-size: 13px;
    line-height: 2.3em;
    letter-spacing: -.33px;
    color: #1f373d;
}
section.services .content .content__service{
    position: relative;
}
section.services .content .content__service .service__image{
    display: inline-block;
    width: 651px;
    height: 631px;
    background-color: #acd1e1;
    position: absolute;
    left: -111px;
}
section.services .content .content__service .service__text{
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 44px;
    justify-content: end;
    margin-bottom: 80px;
}
section.services .content .content__service .service__text .item_title{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 2em;
    letter-spacing: -0.63px;
    margin-bottom: 12px;
    color: #1f373d;    
}
section.services .content .content__service .service__text .item_description{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.3em;
    letter-spacing: -0.33px;
    color: #1f373d;    
}
section.agents{
    background-color: #f6f5f4;
    background-repeat: no-repeat;
    background-size: cover;
}
section.agents .content{
    padding: 54px 0 96px;
}
section.agents .content .title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 20px;
}
section.agents .content .content__title{
    margin-left: 0;
    margin-bottom: 55px;
    width: 33%;
}
section.agents .content .content__title .description{
    font-weight: 400;
    font-size: 13px;
    line-height: 2.3em;
    letter-spacing: -.33px;
    color: #1f373d;
}
section.agents .content__agent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
} 
section.agents .content__agent .agent__item {
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
}
section.agents .content__agent .agent__item .item__img{
    width: 351px;
    height: 381px;
    background-color: #cdccce;
}
section.agents .content__agent .agent__item .item__description{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
section.agents .content__agent .agent__item .item__description .item__agent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 15px;
}
section.agents .content__agent .agent__item .item__description .item_name{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: -0.38px;
    text-transform: capitalize;
    color: #1f373d;
    padding-top: 15px;
    padding-left: 20px;
}
section.agents .content__agent .agent__item .item__description .agent_name{
    font-size: 15px;
    font-weight: 600;
    line-height: 2.777em;
    letter-spacing: -0.38px;
    text-transform: capitalize;
    color: #ffcc01;
}
section.agents .content__agent .agent__item .item__description
.agent__social i{
    font-size: 15px;
    color: #0f0f0f;
    line-height: 2.777em;
    margin-right: 33px;
}
section.agents .content__agent .agent__item .item__description
div.agent__social i:last-child{
    margin-right: 0px;
}
section.adds .content__row .row__image{
    width: 541px;
    height: 331px;
    background-color: #8da4be;
}
section.adds .content__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    position: relative;
}
section.adds .content__first-row{
    margin-top: 90px;
}
section.adds .content__row .row__text{
    width: 40.5%;
}
section.adds .content__row .row__text .title{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 2.5em;
    letter-spacing: -0.63px;
    color: #1f373d;
    margin-bottom: 20px;
}
section.adds .content__row .row__text .description{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.307em;
    letter-spacing: -0.33px;
    color: #1f373d;
}
section.adds .content__second-row .row__text{
    text-align: right;
}
section.adds .content__row .row_geo-button{
    position: absolute;
    background-color: #ffcc01;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1f373d;
    cursor: pointer;
}
section.adds .content__row .row_geo-button i{
    font-size: 25px;
    color: #fff;
    margin-right: 30px;
}
section.adds .content__row .row_geo-button{
    padding: 26px 33px;
}
section.adds .content__first-row .row_geo-button{
    left: 110px;
    bottom: -42px;
}
section.adds .content__second-row .row_geo-button{
    right: -56px;
    bottom: -31px;
}
section.adds .content__third-row .row__text .view-button{
    display: inline-block;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    padding: 30px 55px;
    color: #fff;
    background-color: #1f373d;
    margin-top: 33px;
    cursor: pointer;
}
footer{
    background-color: #1f373d;
}
footer section.newsletter{
    min-height: 110px;
}
footer section.newsletter form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #919eb1;
}
footer section.newsletter form .title{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.35em;
    letter-spacing: -1px;
    color: #fff;
}
footer section.newsletter form input[type='email']{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #919eb1;
    line-height: 15px;
    padding: 26px;
    padding-right: 0;
    width: 450px;
    border: 0;
}
footer section.newsletter form input[type='submit']{
    position: absolute;
    height: 71px;
    width: 71px;
    font-family: Montserrat;
    font-size:35px;
    font-weight: 400;
    color: #919eb1;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
    right: 0;
}
footer section.info-links{
    padding-top: 80px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
}
footer section.info-links .copyright{
    width: 20%;
}
footer section.info-links .copyright .copyright_title{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.63px;
    color: #fff;
    padding-bottom: 60px;
}
footer section.info-links .copyright .copyright_description{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.14px;
    color: #fff;
}
footer section.info-links .links{
    display: flex;
    width: 70%;
    justify-content: center;
}
footer section.info-links .link__columns{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
footer section.info-links .link__columns .column .title{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    color: #919eb1;
    margin-bottom: 40px;
}
footer section.info-links .link__columns .column ul li{
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}
footer section.info-links .link__columns .column ul li:last-child{
    margin-bottom: 0;
}