@import "reset.css";

body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: #1f373d;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
}
header .menu{
    min-height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu .menu-logo a{
    font-size: 25px;
}
header .menu .menu-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}
header .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menu ul a{
    margin-right: 32px;
}
header .menu .menu-link ul a:last-child{
    margin-right: 100px;
}
header .menu .link__contact a:first-child{
    margin-right: 20px;
}
header .menu .link__contact a:last-child{
    background-color: #ffcc01;
    padding: 14px 25px;
    border-radius: 5px;
}
section.hero{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 631px;
}
section.hero .hero__bg{
    width: 961px;
    height: 631px;
    background-color: #96bece;
    position: absolute;
    right: -55px;
}
section.hero .info{
    display: flex;
    position: absolute;
    background-color: #ffcc01;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1f373d;
    right: 0;
    bottom: 0;
}
section.hero .info i{
    font-size: 25px;
    color: #fff;
    margin-right: 30px;
}
section.hero .info div{
    padding: 26px 33px;
}
section.hero form .title{
    font-size: 62px;
    font-weight: 600;
    color: #1f373d;
    letter-spacing: -1.54px;
    margin-bottom: 48px;
}
section.hero form{
    position: absolute;
    top: 150px;
    left: 0;
}
section.hero form input[type="search"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #919eb1;
    line-height: 15px;
    padding: 27px;
    padding-right: 0;
    width: 338px;
    border: 0;
}
section.hero form input[type="submit"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px;
    width: 115px;
    margin-left: -4px;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc01;
}
section.hero .scroll{
    position: absolute;
    bottom: 42px;
    left: -42px;    
    color: #919eb1;
    font-size: 12px;
    transform: rotate(-90deg);
}
section.hero .scroll span{
    font-weight: 500;
    margin-left: 12px;
}
section.our-company .content{
    display: flex;
    margin-top: 145px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
}
section.our-company .content__text{
    width: 48.64864864864865%;
}
section.our-company .content__text .text_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 70px;
}
section.our-company .content__text .text_description{
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.3em;
    letter-spacing: -0.33px;
    color: #1f373d;
}
section.our-company .content__text .first-child{
    margin-bottom: 40px;
}
section.our-company .content__stats{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 30px;
}
section.our-company .content__stats .stats__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f4;
    
}
section.our-company .content__stats .stats__item .item_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #ffcc01;
}
section.our-company .content__stats .stats__item .item_subtitle{
    font-size: 14px;
    font-weight: 600;
    line-height: 3.57em;
    letter-spacing: -0.35px;
    color: #1f373d;
}
section.appartments{
    background-repeat: no-repeat;
    background-color: #f6f5f4;
    background: cover;
}
section.appartments .title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    padding: 50px 0 65px;
}
section.appartments .content__appart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-bottom: 60px;
} 
section.appartments .content__appart .appart__item {
    box-shadow: 0 2px 25px rgba(23, 44, 51, 0.15);
}
section.appartments .content__appart .appart__item .item__img{
    width: 351px;
    height: 381px;
    background-color: #b1d7e8;
}
section.appartments .content__appart .appart__item .item__description{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
section.appartments .content__appart .appart__item .item__description .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 15px;
}
section.appartments .content__appart .appart__item .item__description .address{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8em;
    letter-spacing: -0.38px;
    color: #1f373d;
    padding-top: 15px;
    padding-left: 20px;
}
section.appartments .content__appart .appart__item .item__description .price{
    font-size: 18px;
    font-weight: 600;
    line-height: 2.777em;
    letter-spacing: -0.38px;
    color: #ffcc01;
}
section.appartments .content__appart .appart__item .item__description
.info__shower i, .info__bed i{
    font-size: 12px;
    color: #0f0f0f;
    line-height: 2.777em;
}
section.appartments .content__appart .appart__item .item__description
.info__shower span, .info__bed span{
    font-size: 13px;
    color: #919eb1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.33px;
    line-height: 2.777em;
}
section.appartments form.search{
    padding-bottom: 85px;
}
section.appartments form.search input[type="search"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    color: #919eb1;
    line-height: 15px;
    padding: 27px;
    padding-right: 0;
    width: 338px;
    border: 0;
}
section.appartments form.search input[type="submit"]{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px;
    width: 115px;
    margin-left: -4px;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc01;
}
section.appartments form.search button{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #1f373d;
    padding: 27px 50px;
    margin-left: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffff;
}
section.how-it-work .content .title{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: -1px;
    color: #1f373d;
    margin-bottom: 20px;
}
section.how-it-work .content{
    width: 100%;
}
section.how-it-work .content .content__title{
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 55px;
    width: 33%;
}
section.how-it-work .content .content__title .description{
    font-weight: 400;
    font-size: 13px;
    line-height: 2.3em;
    letter-spacing: -.33px;
    color: #1f373d;
}
section.how-it-work .content__info-box .box_item{
    width: 340px;
    height: 470px;
    background-color: #fff;
    /* overflow: hidden; */
}